@font-face {
	font-family: PTSans;
	src: url(../fonts/ptsans.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: PTSans;
	src: url(../fonts/ptsansbold.woff);
	font-weight: bold;
	font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	font-family: PTSans;
	font-size: 14px;
	line-height: 21px;
	color: #000;
	background-color: #f2f2f2;
	font-weight: normal;
	text-transform: uppercase;
}

/* body[class="hotels"] {
	background: url(../img/sedona-hotels-1200.jpg) no-repeat 50% 0;
} */

body > .container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

h1 {
	
}

h2 {
	font-family: PTSans;
	font-size: 21px;
	line-height: 26px;
	color: #000;
	font-weight: bold;
}

/*==========ÿ¿œ ¿==========*/

.main-header {
	margin: 0;
	padding: 0 6%;
}

.main-header::after {
	content: '';
	display: table;
	clear: both;
}

.main-nav ul {
	display: table;
	width:45%;
	list-style: none;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	table-layout: fixed
}

.main-nav li {
	display: table-cell;
	padding-top: 14px;
	padding-bottom: 16px;
	margin: 0;
}

.main-nav li a {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

.main-nav .left-side {
	float: left;
}

.main-nav .right-side {
	float: right;
	text-align: right;
}

.main-header .logo {
	display: block;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	width: 138px;
	height: 56px;
}

.logo img {
	position: absolute;
}

/*==========‘”“≈–==========*/

.main-footer {
	width: 100%;
	background: #fff;
	opacity: 0.8;
}

.main-footer::after {
	content: "";
	display: table;
	clear: both;
}

.main-footer .footer-block {
	width: 33.33%;
	float: left;
	text-align: center;
}

.main-footer .footer-block1 {
	padding: 45px 0;
}

.main-footer .footer-block2 {
	padding: 35px 0 24px;
}

.main-footer .footer-block3 {
	padding: 38px 0 29px;
}

.footer-block:first-child span {
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

.footer-block .btn {
	display: inline-block;
	width: 47px;
	height: 47px;
}

.footer-block .btn-tw {
	background: rgba(129, 179, 210, 1) url("../img/social.png") no-repeat 15px 50%;
}

.footer-block .btn-fb {
	background: rgba(129, 179, 210, 1) url("../img/social.png") no-repeat 50% 50%;
}

.footer-block .btn-yt {
	background: rgba(129, 179, 210, 1) url("../img/social.png") no-repeat 117% 50%;
}

body.index .main-footer {
	position: absolute;
	bottom: 0;
}

/*==========√À¿¬Õ¿ﬂ==========*/

.intro {
	width: 100%;
	margin-bottom: 58px;
	text-align: center;
	vertical-align: middle;
	padding: 76px 0;
	background: url("../img/index/intro-mask.png"), #aaa url("../img/index/intro-background.jpg");
	background-repeat: no-repeat;
	background-position: 50% 100%, 50% 0;
	background-size: 100% auto, 100%;
}

.intro-text {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 54px;
	text-align: center;
}

.intro-text h2 {
	padding-bottom: 13px;
	letter-spacing: 0.012em;
}

.features {
	width: 100%;
	margin-bottom: 54px;
}

.features-row {
	width: 100%;
	height: 256px;
	font-size: 0;
	background: #eee;
}

.features .feature {
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	padding: 28px 0;
}

.feature h2{
	display: inline-block;
	text-align: center;
	width: 151px;
	line-height: 21px;
	color: black;
}

.features .picture {
	width: 66.66%;
}

.feature p {
	width: 304px;
	display: inline-block;
	text-align: center;
}

.feature span {
	margin: 7px;
	display: block;
}

.features .common-row {
	width: 100%;
	height: 330px;
	background: #fff;
}

.common-row .feature {
	padding: 59px 0;
}

.common-row p {
	margin: 7px 0;
}

.common-row .icon {
	margin: 0 auto;
	width: 74px;
	height: 74px;
	margin-bottom: 9px;
}

.common-row .icon1 {
	background: url("../img/index/features-sprite.png") no-repeat 0 0;
}

.common-row .icon2 {
	background: url("../img/index/features-sprite.png") no-repeat -75px 0;
}

.common-row .icon3 {
	background: url("../img/index/features-sprite.png") no-repeat -149px 0;
}

.features .with-pic {
	position: relative;
	overflow: hidden;
	background: #81b3d2
}

.with-pic .feature {
	padding: 36px 0;
	color: #fff;
}

.with-pic .picture {
	padding: 0;
}

.with-pic span {
	margin: 7px 0;
}

.with-pic h2 {
	color: white;
}

.hotel-search {
	position: relative;
	min-height: 235px;
	width: 568px;
	margin: 0 auto;
}

.hotel-search span {
	display: block;
	width: 100%;
	margin-bottom: 26px;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #000;
}

.hotel-search p {
	text-align: center;
	line-height: 24px;
	color: #000;
	margin-bottom: 47px;
}

.hotel-search a {
	display: block;
	text-align: center;
	vertical-align: middle;
	font-size: 21px;
	line-height: 85px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	background-color: #766357;
}

.hotel-search .search-form {
	display: block;
	position: absolute;
	width: 568px;
	height: 395px;
	background: #fff;
	padding: 55px;
	box-sizing: border-box;
}

.search-form label {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	margin-right: ;
}

.search-form input[type="text"] {
	border: none;
	background: #f2f2f2;
	outline: none;
	height: 38px;
	width: 326px;
	padding: 0 10px;
	font-weight: bold;
}

.search-form .calendar-btn {
	position: absolute;
	top: 7px;
	right: 8px;
	width: 24px;
	height: 24px;
	border: none;
	background: #f2f2f2 url("../img/index/cal.png") no-repeat;
	outline: none;
}

.arrival-date,
.departure-date {
	margin-bottom: 28px;
	position: relative;
}

.arrival-date input[type="text"] {
	margin-left: 19px;
}

.departure-date input[type="text"] {
	margin-left: 16px;
}

.persons {
	margin-bottom: 54px;
}

.persons input[type="text"] {
	width: 38px;
	padding: 0;
	text-align: center;
	margin: 0 -4px;
}

.persons .group1,
.persons .group2 {
	display: inline-block;
}

.persons .group1 {
	margin-right: 48px;
}

.group1 label {
	margin-right: 37px;
}

.group2 label {
	margin-right: 24px;
}

.persons button {
	width: 38px;
	height: 38px;
	border: none;
	background: #f2f2f2;
	outline: none;
	vertical-align: top;
	font-weight: bold;
	font-size: 24px;
	color: #a9a9a9;
}

.search-btn {
	width: 100%;
	border: none;
	text-transform: uppercase;
	font-size: 21px;
	background-color: #81b3d2;
	color: #fff;
	line-height: 58px;
	vertical-align: middle;
}

.map {
	min-height: 593px;
	width: 100%;
}

/*==========Œ“≈À»==========*/

.filter {
	padding: 27px 6% 0;
	box-sizing: border-box;
	background: url("../img/hotels/filter-background.jpg") no-repeat 50% 0;
	min-height: 217px;
}

.filter::after {
	content: '';
	display: table;
	clear: both;
}

.filter .column {
	width: 255px;
	float: left;
	padding: 0;
}


.filter .column:last-child {
	float: right;
	width: auto;
}

.filter fieldset {
	list-style: none;
	border: none;
	color: #fff;
	padding: 0;
	margin: 0;
}

.filter legend {
	font-weight: bold;
	font-size: 16px;
}

.checkboxes legend {
	margin-bottom: 24px;
}

.checkboxes input {
	margin-bottom: 30px;
	margin-right: 23px;
}

.coast .groupe {
	border: 2px solid #fff;
	border-radius: 5px;
	width: 314px;
	margin: 10px 0;
}

.coast input {
	display: inline-block;
	width: 48%;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	outline: none;
	background: none;
	text-transform: uppercase;
	border: none;
}

.coast legend {
	margin-left: -11px;
}

.coast-slider {
	width: 318px;
	min-height: 22px;
	position: relative;
	margin-bottom: 22px;
}

.coast-slider .line,
.coast-slider .inner-line {
	position: absolute;
	top: 50%;
	bottom: 50%;
	width: 100%;
	height: 2px;
	background-color: #8c8080;
}

.coast-slider .inner-line {
	background-color: #fff;
}

.coast-slider .min-range,
.coast-slider .max-range {
	position: absolute;
	top: 0%;
	bottom: 0%;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	border-radius: 50px;
	background-color: #ababab;
	cursor: pointer;
}

.filter button {
	display: block;
	margin: 0 auto;
	padding: 8px 32px;
	background: none;
	border: 2px solid #fff;
	border-radius: 2px;
	text-transform: uppercase;
	color: #fff;
}

.main-row {
	padding: 13px 6%;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;
}

.main-row h2 {
	display: inline-block;
	margin-right: 44px;
}

.main-row span,
.main-row a {
	font-size: 12px;
	margin-right: 35px;
}

.main-row a {
	margin-right: 30px;
	color: #b1b1b1;
}

.main-row .btns{
	margin-top: 20px;
	float: right;
}

.btns button {
	width: 12px;
	margin-left: 8px;
	height: 10px;
	border: none;
}

.btns .btn-1 {
	background: url(../img/hotels/sprite-1.png) no-repeat -10px 50%;
}

.btns .btn-2 {
	background: url(../img/hotels/sprite-1.png) no-repeat -21px 50%;
}

.hotel-row {
	padding: 30px 6%;
	margin-bottom: 2px;
	border-bottom: 1px solid #e5e5e5;
}

.hotel-row img {
	float: left;
	margin-right: 30px;
	width: 135px;
	height: 90px;
}

.hotel-row h2 {
	margin: 0;
	margin-bottom: 2px;
	width: 500px;
	
	outline: 1px solid red;
}

.hotel-row .column {
	display: inline-block;
	margin-right: 2px;
}

.column span,
.column a {
	display: block;
	
}

.column a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;
	background: #81b3d2;
	padding: 0 17px;
	line-height: 27px;
	vertical-align: middle;
	margin-top: 14px;
}

.hotel-row .rate {
	display: block;
	float: right;
	outline: 1px solid red;
	text-align: right;
}

.rate .star {
	display: inline-block;
	width: 17px;
	height: 17px;
	outline: 1px solid red;
	background: url("../img/hotels/sprite-1.png") no-repeat -44px 0;
}